name: Build Minecraft Plugin

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.5

      - run: gradle clean build

      - uses: actions/upload-artifact@v4
        with:
          name: OpsMaintenance-JAR
          path: build/libs/*.jar
